h1 { 
    color: rgb(235, 106, 162);
    font-size: 50px; 
    margin: 0px;
    background-color: rgba(243, 184, 215, 0.897);
    text-align: center;
    font-family: 'Staatliches', cursive; 
}
h2 {
    color: rgb(235, 106, 162);
    font-size: 40px; 
    margin: 40px;
    background-color: rgba(243, 184, 215, 0.897);
    text-align:left;
    font-family: 'Staatliches', cursive; 
  }
 p {
   color: rgb(190, 117, 172);
   font-size: 30px;
   font-family: 'Stint Ultra Condensed', cursive;
 }
   p1 {
    color: rgb(190, 117, 172);
    font-size: 20px;
    font-family: 'Stint Ultra Condensed', cursive; 
  

 }
 ol {
  color: rgb(190, 117, 172);
  font-size: 30px;
  font-family: 'Stint Ultra Condensed', cursive;
  text-align: center;
  
 }
  li {
    color: rgb(190, 117, 172);
    font-size: 30px;
    font-family: 'Stint Ultra Condensed', cursive;
    text-align: center;

  }
  form {
    color: rgb(190, 117, 172);
    font-size: 30px;
    font-family: 'Stint Ultra Condensed', cursive;
    text-align: center;


  body {background-color: rgba(255, 219, 209, 0.966);} 

  input {
      display: block;
      margin-bottom: 40px;
      
  }