h1 { 
    color: rgb(235, 106, 162);
    font-size: 50px; 
    margin: 0px;
    background-color: rgba(243, 184, 215, 0.897);
    text-align: center;
    font-family: 'Staatliches', cursive; 
}
h2 {
    color: rgb(235, 106, 162);
    font-size: 40px; 
    margin: 40px;
    background-color: rgba(243, 184, 215, 0.897);
    text-align:left;
    font-family: 'Staatliches', cursive; 
  }
 p {
   color: rgb(190, 117, 172);
   font-size: 30px;
   font-family: 'Stint Ultra Condensed', cursive;
 }
   p1 {
    color: rgb(190, 117, 172);
    font-size: 20px;
    font-family: 'Stint Ultra Condensed', cursive; 
  
 }
 ol {
  color: rgb(190, 117, 172);
  font-size: 30px;
  font-family: 'Stint Ultra Condensed', cursive;
  margin: left 20%; 
  
 }
  li {
    color: rgb(190, 117, 172);
    font-size: 30px;
    font-family: 'Stint Ultra Condensed', cursive;
    margin-left: left 20%;

  }
  body {
    
    background-color: #d9e4f5;
    background-image:linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%) ;
 
  

  }
     
  input {
      display: block;
      margin-bottom: 40px;
      font-size: medium;
    
      
  }